<template name="weddingsShow">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    {{#if $eq wedding.userId $.Meteor.userId}}
      <button class="button button-clear button-positive" data-action="remove-wedding">
        {{> ionIcon icon='ios-close-empty'}}
      </button>
    {{/if}}
    <button class="button button-clear pull-right button-positive" data-action="share-wedding" data-wedding-id="{{wedding._id}}">
      {{> ionIcon icon='ios-upload-outline'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">The Wedding</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="product-detail">

        {{#with wedding}}

          {{#ionItem iconLeft=false iconRight=true class="item-weddingsShow item-text-wrap"}}
            <!-- {{> _voteButton}} -->
            <h2 class="product-title">
              <a href="#" target="_blank" class="positive">{{name}}</a>
            </h2>
            <p>
              {{place}} - {{dateOfWedding}}
            </p>
<!--             {{#with author}}
              <p>
                <small>via <a href="{{pathFor 'users.show'}}" class="dark">{{profile.name}}</a></small>
              </p>
            {{/with}} -->
            <span class="date-posted">
              {{datePosted}}
            </span>
          {{/ionItem}}

          <div class="padding product-detail-upvotes">
            <h5>Attendees <small>{{numberOfAttendees}}</small></h5>

            {{>_attendButton}}
            
            {{#each attendees}}
              <a href="{{pathFor 'users.show'}}">
                <!-- {{> avatar user=this size="small" shape="circle"}} -->
                 <img src="{{imageUrl}}" class="profile-image small">
              </a>

            {{/each}}
          </div>
        {{/with}}

        <div class="padding product-detail-comments">
          <h5>Comments</h5>
          {{#with wedding}}
            <button class="button button-positive button-small button-circle button-new-comment" data-action="new-comment">
              {{>ionIcon icon="plus"}}
            </button>
          {{/with}}
        </div>

        <div class="list">
          {{#each comments}}
            {{> _comment}}
          {{/each}}
        </div>

      </div>

    {{/ionContent}}
  {{/ionView}}
</template>
